<div class="sidebar">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li class="active">
            <a href="#list1" data-toggle="collapse">课程管理</a>
            <ol id="list1" class="nav nav-pills nav-stacked collapse in">
                <li><a href="/admin">全部课程</a></li>
                <li><a href="/admin/tasks/add">新建课程</a></li>
            </ol>
        </li>
        <li class="active">
            <a href="#list2" data-toggle="collapse">用户管理</a>
            <ol id="list2" class="nav nav-pills nav-stacked collapse in">
                <li><a href="/admin/users">成员信息</a></li>
                <li><a href="/admin/users/add">添加用户</a></li>
                <li><a href="/admin/department">科室管理</a></li>
            </ol>
        </li>
        <li class="active">
            <a href="#list3" data-toggle="collapse">微信管理</a>
            <ol id="list3" class="nav nav-pills nav-stacked collapse in">
                <li><a href="/admin/files">文章管理</a></li>
                <li><a href="/admin/files/up">添加文章</a></li>
                <li><a href="/admin/files/manage">分类管理</a></li>
            </ol>
        </li>
        <li class="active">
            <a href="/admin/password">修改管理员密码</a>
        </li>
    </ul>
</div>