<div id="manage">
    <h4>用户管理</h4>
    <div class="content">
        <div>
            <label for="username">用户名：</label>
            <input id="username" type="text">
        </div>
        <div>
            <label for="number">工&nbsp;&nbsp;&nbsp;号：</label>
            <input id="number" class="disabled" disabled type="text">
        </div>
        <div>
            <label for="password">密&nbsp;&nbsp;&nbsp;码：</label>
            <input id="modifyPassword" placeholder="默认不修改密码" type="text">
        </div>
        <div>
            <label for="department">科&nbsp;&nbsp;&nbsp;室：</label>
            <select name="department" id="department">
            </select>
        </div>
        <div>
            <label for="jobname">职&nbsp;&nbsp;&nbsp;称：</label>
            <input name="jobname" id="jobname" type="text"/>
        </div>
        <button class="btn btn-success" id="modifyBtn">修改</button>
        <button class="btn btn-default cancel" id="cancel">取消</button>
    </div>
</div>