<div id="manage">
    <div class="container">
        <h4>个人中心</h4>
        <h5>- 修改密码 -</h5>
        <hr>
        <div class="form-inline">
            <div class="form-group">
                <label>旧密码：</label>
                <input type="password" class="form-control" name="" placeholder="旧密码">
            </div>
            <div class="form-group">
                <label>新密码：</label><span>(必须不少于6位)</span>
                <input type="password" class="form-control" name="" placeholder="新密码">
            </div>
            <div class="form-group">
                <label>再输入一次新密码：</label>
                <input type="password" class="form-control" name="" placeholder="重复新密码">
            </div>
        </div>
        <div class="pull-right">
            <div class="btn btn-primary">确认修改</div>
            <div class="btn btn-default">取消</div>
        </div>
    </div>
</div>