header {
    height: 6rem;
    padding: 0 1.0rem;
    overflow: hidden;
    background: url(../images/logo.gif) no-repeat 1.0rem 0.1rem;
    background-size: auto 90%;
    margin-top: 2.0rem;
}

header div {
    height: 100%;
}

.logo {
    width: 30%;
    float: left;
}

#user {
    text-align: right;
    padding-right: 1.0rem;
    line-height: 5rem;
    font-size: 1.4rem;
}
.greeting{
    display: none;
}
.login {
    color: #337ab7;
    text-decoration: underline;
}

.logout {
    color: #d51719;
    text-decoration: underline;
}

.container {
    padding-bottom: 4.0rem;
    position: relative;
}

.tips {
    line-height: 1.6;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.tips {
    color: blue;
    font-size: 1.4rem;
}

#endDate {
    font-size: 1.5rem;
    color: #d51719;;
    font-weight: 700;
    text-decoration: underline;
}
.article{
    text-indent: 2em;
    line-height: 2;
    font-size: 1.4rem;
}
.tab {
    display: flex;
    text-align: center;
    margin-top: 4.0rem
}

.tab .item {
    flex: 1;
    height: 4.0rem;
    line-height: 4rem;
    background: #337ab7;
    font-size: 1.4rem;
    color: #fff;
}

.tab .active {
    background: #d51719 url(../images/triangle.png) no-repeat center bottom;
    background-size: 1.25rem;
}

.block{
    padding-top: 4rem
}


/*资源*/

#preview {
    display: block;
    margin-left: 33%;
    margin-top: 1rem;
    width: 10rem;
    height: 12rem;
    background: url(../images/pdf.png) no-repeat center 0;
    background-size: 8rem auto;
    text-align: center;
    color: #1296db;
    font-size: 1.4rem;
    font-weight: 700;
}

#preview span {
    display: inline-block;
    transform: translateY(10rem);
}

.download {
    line-height: 4;
    font-size: 1.4rem;
    color: #bd76ac;
}
.complete{
	position: relative;
}
.complete span{
	margin-top: 2.0rem;
	display: inline-block;
	height: 2.0rem;
	line-height: 2rem;
	padding-left:  1.8rem;
	background: url(../images/bg_06.jpg) no-repeat;
}
.btn{
    margin-top: 1.0rem;
}
.complete i {
	position: absolute;
	background: url(../images/finish.png) no-repeat;
	background-size: cover;
	width: 8.0rem;
	height: 6rem;
	transform: rotate(-6deg);
	position: absolute;
	right: 1.0rem;
	top: 1.0rem;
	display: none;
}
/* 按钮状态 */
.block .complete .active{
	color: #999;
    border:none;
}
/* 表格 */
table{
	margin-top: 4.0rem;
	text-align: center;
	font-size: 1.4rem;
	display: none;
}
th{
    text-align: center;
}
table .false{
	color: #d51719
}