header {
    height: 6rem;
    padding: 0 1.0rem;
    overflow: hidden;
    background: url(../images/logo.gif) no-repeat 1.0rem 0.1rem;
    background-size: auto 90%;
    margin-top: 2.0rem;
}

header div {
    height: 100%;
}

.logo {
    width: 30%;
    float: left;
}

#user {
    text-align: right;
    padding-right: 1.0rem;
    line-height: 5rem;
    font-size: 1.4rem;
}
.greeting{
    display: none;
}
.login {
    color: #337ab7;
    text-decoration: underline;
}

.logout {
    color: #d51719;
    text-decoration: underline;
}

.container {
    padding-bottom: 2.0rem;
    position: relative;
}

.tips {
    line-height: 1.6;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.tips {
    color: blue;
    font-size: 1.4rem;
}

#endDate {
    font-size: 1.5rem;
    color: #d51719;;
    font-weight: 700;
    text-decoration: underline;
}
.article{
    text-indent: 2em;
    line-height: 2;
    font-size: 1.4rem;
}
.tab {
    display: flex;
    text-align: center;
    margin-top: 4.0rem
}

.tab .item {
    flex: 1;
    height: 4.0rem;
    line-height: 4rem;
    background: #337ab7;
    font-size: 1.4rem;
    color: #fff;
}

.tab .active {
    background: #d51719 url(../images/triangle.png) no-repeat center bottom;
    background-size: 1.25rem;
}

.block{
    padding-top: 4rem
}


/*资源*/

#preview {
    display: block;
    margin-left: 33%;
    margin-top: 1rem;
    width: 10rem;
    height: 12rem;
    background: url(../images/pdf.png) no-repeat center 0;
    background-size: 8rem auto;
    text-align: center;
    color: #1296db;
    font-size: 1.4rem;
    font-weight: 700;
}

#preview span {
    display: inline-block;
    transform: translateY(10rem);
}

.download {
    line-height: 4;
    font-size: 1.4rem;
    color: #bd76ac;
}
.complete{
	position: relative;
    margin-bottom: 2rem;
}
.complete span{
	margin-top: 2.0rem;
	display: inline-block;
	height: 2.0rem;
	line-height: 2rem;
	padding-left:  1.8rem;
	background: url(../images/bg_06.jpg) no-repeat;
}
.btn{
    margin-top: 1.0rem;
}
.complete i {
	position: absolute;
	background: url(/website/images/finish.png) no-repeat;
	background-size: cover;
	width: 8.0rem;
	height: 6rem;
	transform: rotate(-6deg);
	position: absolute;
	right: 1.0rem;
	top: 1.0rem;
	display: none;
}
/* 按钮状态 */
.block .complete .active{
	color: #999;
    border:none;
}
/* 表格 */
table{
	margin-top: 4.0rem;
	text-align: center;
	font-size: 1.4rem;
	display: none;
}
th{
    text-align: center;
}
table .false{
	color: #d51719
}

/* 提交答案*/
#questions{
    border-top: 1px solid #999;
}
#questions h3{
    position: relative;
    text-indent:5rem;
    margin-bottom: 3rem;
}
#questions h3::after{
    display: block;
    content: '';
    position: absolute;
    left:0;
    top: -.8rem;
    width:4rem;
    height:4rem;
    background: url("../images/homework.png") no-repeat;
    background-size: contain;
}
#questions h4{
    padding:0;
}
#questions .radio{
    padding-left: 1.2rem;
}
#questions input{
    margin-top:.7rem;
    display: inline-block;
    width:1.4rem;
    height:1.4rem;
}
#questions label{
    display: inline-block;
    font-size: 16px;
    line-height: 2;
}
#questions .btn{
   margin-top: 2rem;
}
.answerBtn{
    position: relative;
}
.answerBtn i{
    position: absolute;
    background: url(/website/images/finish.png) no-repeat;
    background-size: cover;
    width: 8.0rem;
    height: 6rem;
    transform: rotate(-6deg);
    position: absolute;
    right: 1.0rem;
    top: -4.0rem;
    display: none;
}
#questions .answerBtn .btn-default {
     color: #999;
     border: none;
 }
.caution{
    padding-left: 2rem;
    color:#d51719;
    font-size: 12px;
    display: none;
}

/* 个人中心*/
.user-center{
    position: fixed;
    right: 0.4rem;
    top: 43rem;
    width: 4.6rem;
    height: 4.6rem;
    background: rgba(0,0,0,0.85) url(../images/user4.png) no-repeat center;
    background-size: 60%;
    border-radius: 100%;
    z-index: 10;
}

/*弹窗*/

#manage{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
#manage h4,#manage h5{
    text-align: center;
}
#manage h5{
    color: #999;
    font-weight: normal;
}
#manage .container{
    width: 90%;
    border-radius: 0.4rem;
    background-color: #fff;
    position: absolute;
    left: 1.6rem;
    top: 1.0rem;
    padding-bottom: 30px;
}
#manage input{
    height: 3.4rem;
    font-size: 1.4rem;
}
#manage .btn-default{
    margin-left: 1.0rem
}