<% include layout/head.ejs %>
<link href="//cdn.bootcss.com/bootstrap-fileinput/4.3.7/css/fileinput.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/Trumbowyg/2.4.3/ui/trumbowyg.min.css" rel="stylesheet">

<link rel="stylesheet" href="/system/css/common.css">
<style>
    .trumbowyg-box {
        margin-left: 0;
        margin-top: 0;
    }

    .main {
        width: 85%; /* 默认值会出现横向滚动条  */
    }

    /* 练习题 */
    .homework-container > div {
        border-bottom: 1px dashed #999;
        margin-bottom: 20px;
    }

    .homework-container .question input {
        width: 80%;
    }

    .homework-container input {
        margin-bottom: 10px;
    }

    .homework-container .options input {
        width: 60%;
    }

    .homework-container .options > div {
        padding-left: 70px
    }

    .homework-container .options label {
        width: 60px;
        font-weight: normal;
    }

    .add-option {
        padding: 20px 0;
        margin-left: 90px;
    }

    .homework .add-question {
        color: #5bc4c7;
        cursor: pointer;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        border: 1px dashed #999;
        margin-top: 20px;
        border-radius: 6px;
        font-size: 20px;
    }

    .homework .add-question:hover {
        background-color: #5bc4c7;
        color: #fff;
        border: none;
    }

    .homework .homework-container .right-answer {
        width: 100px;
    }

    /* 删除按钮*/
    .del {
        margin-left: 10px;
        background: #d51719;
        border-radius: 10px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        color: #fff;
        text-align: center;
        display: inline-block;
    }
</style>
</head>

<body>
<% include layout/fixTop.ejs %>
<!-- <div class="space-h50"></div> -->
<div id="wrap">
    <!-- 侧边栏开始 -->
    <% include layout/leftNav.ejs %>
    <!-- 侧边栏结束 -->
    <!-- 正文开始 -->
    <div class="main container">
        <!-- 路径导航 -->
        <ol class="breadcrumb">
            <li class="active">新建课程</li>
        </ol>
        <!-- 上传按钮组件 -->
        <!--<form  action="/tasks/new" enctype="multipart/form-data" method="post">-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- h3标签原是label标签 -->
                    <label>选择文件：</label>
                    <!-- 如果需要文件多选,只需要在input标签加属性 multiple -->
                    <input name="file" id="upload"
                           class="file" type="file"
                           data-show-caption="true"
                           data-show-upload="false"
                           data-show-preview="false"
                    >
                </div>
                <div class="form-group">
                    <label>课程名称：</label>
                    <input name="title" type="text" class="form-control course-title">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <label>课程描述：</label>
                <div id="editor" name="descript">
                </div>
            </div>
        </div>
        <div class="row homework">
            <div class="col-md-8">
                <label>课后练习设置：</label>
                <div class="homework-container"></div>
                <div class="add-question">+ 添加题目</div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="form-inline">
                <div class="form-group">
                    <label style="margin-left: 15px;">设置起始日期：&nbsp;&nbsp;</label>
                    <input name="startDate" class="form-control" type="text" id="start-date">
                </div>

                <div class="form-group">
                    <label style="margin-left: 15px;">设置结束日期：&nbsp;&nbsp;</label>
                    <input name="endDate" class="form-control" type="text" id="end-date">
                </div>

                <button id="confirm" class="btn btn-success" style="margin-left: 45px;" data-loading-text="正在发布...">
                    确认上传并发布
                </button>
            </div>
        </div>
        <!--</form>-->
    </div>
</div>

<% include layout/script.ejs %>
<script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.7/js/fileinput.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.7/js/locales/zh.min.js"></script>
<script src="//cdn.bootcss.com/Trumbowyg/2.4.3/trumbowyg.min.js"></script>
<script src="//cdn.bootcss.com/Trumbowyg/2.4.3/langs/zh_cn.min.js"></script>

<script>
    $('#editor').trumbowyg({
        lang: 'zh_cn'
    });
</script>
<script src="/system/libs/laydate.js"></script>
<script>
    laydate({
        elem: '#start-date'
    });
    laydate({
        elem: '#end-date'
    });
</script>
<script src="/system/libs/button.js"></script>
<script>
    $(function () {
        (function () {
            var homework = $('.homework');
            var homeworkContainer = $('.homework-container');
            var initCharCode = 67;// C。每道题默认有3个选项,即最后一项是C,编码是67。作为每道题的初始值

            //  添加题目
            var nowQuestionIndex = 0; 		// 初始化只有0题
            var questionHTML = '';			// 创建题目时对应的html模板
            var clientH = $(window).height();
            var docH = 0;
            homework.on('click', '.add-question', function () {
                nowQuestionIndex += 1;
                questionHTML =
                    '<div class="module"><div class="form-inline question"><label>题目'
                    + nowQuestionIndex +
                    '：</label><input class="form-control q-title" type="text"  placeholder="问题'
                    + nowQuestionIndex +
                    '"><i class="del">X</i></div>' +
                    '<div class="form-inline options">' +
                    '<div><label>选项A:</label><input class="form-control A" type="text" placeholder="选项A"></div>' +
                    '<div><label>选项B:</label><input class="form-control B" type="text" placeholder="选项B"></div>' +
                    '<div><label>选项C:</label><input class="form-control C" type="text" placeholder="选项C"></div>' +
                    '<div class="add-option"><button class="btn btn-primary">+ 添加选项</button></div>' +
                    '<div><label>正确答案:</label>&nbsp;<input type="text" class="form-control right-answer">' +
                    '<span>*(支持大/小写)</span></div>' +
                    '</div></div>';

                homeworkContainer
                    .append(questionHTML)
                    .find('.module:last').get(0).currentCharCode = initCharCode;	//标记新建题目自定义属性从选项c开始

                docH = $(document).height();
                $(window).scrollTop(docH - clientH);//滚动条置底

                $('.question').last().find('input').focus();//自动聚焦
            });
            // 删除题目
            homework.on('click', '.question .del', function () {
                $(this).closest('.module').remove();
                nowQuestionIndex--;
            });
            // 添加选项
            // A~Z : 65~91
//            var nowCharCode = 67;		// C。每道题默认有3个选项
            var nextLetter = '';		// 下一选项对应的选项名称
            var optionHTML = '';		// 创建选项时对应的html模板
            homework.on('click', '.btn-primary', function () {//动态生成的元素需要父级绑定，否则新建元素无此事件
                var currentCharCode = ++$(this).closest('.module').get(0).currentCharCode;//记录当前对应的选项
                nextLetter = String.fromCharCode(currentCharCode);// 创建的选项对应的字母
                optionHTML = '<div><label>选项' + nextLetter + ':</label>' +
                    '<input class="form-control  ' + nextLetter + '" type="text" placeholder="选项' + nextLetter + '">' +
                    '<i class="del del-opt">X</i>' +
                    '</div>'
                $(optionHTML).insertBefore($(this).closest('.add-option'));
            });
            // 删除选项
            homework.on('click', '.del-opt', function () {
                $(this).closest('.module').get(0).currentCharCode--;//更新
                $(this).closest('div').remove();
            });
        })();

        function getQuestion() {
            var aQuetions = [];
            var oM = $('.module');
            for (var i = 0; i < oM.length; i++) {
                var oQuestion = {};

                oQuestion.question = $(oM[i]).find('.q-title').val();
                oQuestion.select = []
                var oOps = $(oM[i]).find('.options').find('input');
                var answerClass = $(oM[i]).find('.right-answer').val().toUpperCase()
                $(oM[i]).find('.' + answerClass).addClass('answer')
                for (var j = 0; j < oOps.length - 1; j++) {
                    if (j < oOps.length) {
                        if ($(oOps[j]).val()) oQuestion.select.push($(oOps[j]).val())
                    }
                    if ($(oOps[j]).hasClass('answer')) oQuestion.answer = oQuestion.select.length - 1
                }
                aQuetions.push(oQuestion)
            }
            console.log(aQuetions)

            return aQuetions
        }

        $('#confirm').click(function () {

            var questions = getQuestion()
            var title = $('.course-title').val();
            var descript = $('#editor').html();
            var startDate = $('#start-date').val();
            var endDate = $('#end-date').val();
            var data = new FormData();
            files = $("#upload")[0].files;
            var filepath = $("#upload").val()
            var extStart = filepath.lastIndexOf(".");
            var ext = filepath.substring(extStart, filepath.length).toUpperCase();

            if (filepath) {
                if (ext == ".mp4" || ext == ".MP4" || ext == ".pdf" || ext == ".PDF") {
                } else {
                    layer.msg('只允许上传mp4和pdf文件');
                    return false
                }
            }
            if (!title) {
                layer.msg('请完善课程名称！');
                $('.course-title').parent().addClass('has-error')
                return false
            }
            if ($('.q-title').length > 0) {
                if (!$('.q-title').val()) {
                    layer.msg('请完善题目！');
                    return false

                }
                if (!$('.right-answer').val()) {
                    layer.msg('题目缺少答案！');
                    return false
                }
            }

            if (!startDate) {
                layer.msg('请完善开始时间！');
                $('#start-date').parent().addClass('has-error')
                return false
            }
            if (!endDate) {
                layer.msg('请完善结束时间！');
                $('#end-date').parent().addClass('has-error')
                return false
            }

            if (files) {
                data.append("file", files[0]);
                data.append("title", title);
                data.append("descript", descript);
                data.append("start", startDate);
                data.append("end", endDate);
                data.append("questions", JSON.stringify(questions));
                layer.load(1);
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: '/admin/tasks/new/',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data, textStatus) {
                        layer.msg(data.msg, {icon: 1});
                        setTimeout(function () {
                            window.location.href = '/admin'
                            layer.closeAll('loading');
                        }, 1000)
                    }
                })
            }
        })
    })

</script>
</body>

</html>
