<% include layout/head.ejs %>
<link rel="stylesheet" href="/system/css/common.css">
</head>
<style>
    .create-class {
        padding-bottom: 50px;
        padding-right: 50px;
    }

    #content dl {
        padding: 20px 0 50px;
        border-bottom: 1px dashed #333;
    }

    #content dl:first-child {
        padding-top: 0;
    }

    #content dl:last-child {
        padding-bottom: 0;
        border: 0;
    }

    #content dt {
        display: table-cell;
    }

    #content dd {
        margin-left: 20px;
        margin-top: 20px;
    }

    /*弹窗*/

    .popup-box,
    .class-alert {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .popup,
    .class-alert > div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 1px 1px 5px #ddd;
    }

    .popup .title {
        line-height: 2;
        margin-bottom: 15px;
        font-size: 16px;
        color: #888;
        border-bottom: 1px solid #ddd;
    }

    .popup .btn {
        margin-top: 10px;
    }

    .popup .btn-success {
        margin-top: 30px;
    }

    .popup .caution {
        font-size: 10px;
        color: #999;
        line-height: 3;
    }

    /*新建分类弹窗*/
    .class-alert input {
        margin-bottom: 20px;
    }

    .class-alert .btn-success {
        margin-right: 20px;
    }
</style>
<body>
<% include layout/fixTop.ejs %>
<!-- <div class="space-h50"></div> -->
<div id="wrap">
    <!-- 侧边栏开始 -->

    <% include layout/leftNav.ejs %>

    <!-- 侧边栏结束 -->
    <!-- 正文开始 -->
    <!-- 正文 -->
    <div class="main">
        <!-- 路径导航 -->
        <ol class="breadcrumb">
            <li class="active">健康处方</li>
            <li class="active">分类管理</li>
        </ol>
        <div class="clearfix create-class">
            <button class="btn btn-default">+ 新建分类</button>
        </div>
        <div id="content"></div>
    </div>
    <!-- 编辑弹窗 -->
    <div class="popup-box">
        <div class="popup">
            <div class="title">修改信息</div>
            <div class="form">
                <input class="form-control" type="text" value="" placeholder="123">
                <div class="caution">* 不填写表示不修改或不添加新项</div>
                <div class="caution">* 确保你的输入的名字不重复</div>
            </div>
            <div id="commit" class="btn btn-success btn-block">确定</div>
            <div id="delete" class="btn btn-danger btn-block btn-sm">删除该项</div>
            <div class="btn btn-default btn-block">取消</div>
        </div>
    </div>
    <!-- 新建分类弹窗 -->
    <div class="class-alert">
        <div>
            <h4>新建大分类</h4>
            <div class="form">
                <input class="form-control class-name" type="text" placeholder="类名">
            </div>
            <div class="pull-right">
                <button class="btn btn-success">确定</button>
                <button class="btn btn-default">取消</button>
            </div>
        </div>
    </div>
</div>
<% include layout/script.ejs %>
<script>
    $(function () {
        var data = JSON.parse('<%- JSON.stringify(classifies) %>');
        // 初始化页面
        (function () {
            var htmlTemplate = '';
            for (var item in data) {
                htmlTemplate += '<dl><dt class="btn btn-primary btn-lg btn-block">' + item + '</dt><dd class="btn btn-info">' + data[item].join('</dd><dd class="btn btn-info">') + '</dd><dd class="btn btn-default add">+</dd></dl>';
            }
            $('#content').html(htmlTemplate);
        })();

        window.$target = null; //触发对象
        window.placeholder = ''; //触发对象的文本

        // 编辑现有分类
        (function () {
            var dialog = $('.popup-box');

            function quit() {
                dialog.fadeOut().find('input').val('');
            }

            // 编辑单项或新增单项
            $('dd').click(function () {
                window.$target = $(this);
                window.placeholder = $(this).text();

                //如若点击新增项,则隐藏删除按钮
                if (window.placeholder === '+') {
                    window.placeholder = '新增项目名称';
                    $('#delete').hide();
                } else {
                    $('#delete').show();
                }

                dialog.fadeIn().find('input').attr('placeholder', window.placeholder);
            });

            // 确定提交数据
            $('#commit').click(function () {
                var value = $.trim(dialog.find('input').val()); //修改值
                var parentText = window.$target.prevAll('dt').text();

                if (value.length) { //不为空值时提交
                    // 1.更新大分类名称
                    if (window.$target.hasClass('btn-lg')) {
                        var url = '/admin/files/classify/check/parent/' + value;

                        checkNewValue(url, success)

                        function success(data) {
                            if (!data.exist) {
                                window.location.href = '/admin/files/classify/update/parent/?oldName=' + window.placeholder + '&newName=' + value;
                            } else {
                                alert('分类名称已存在，请重新设置！')
                            }
                        }
                    }
                    // 2.更新小分类名称
                    else if (window.$target.hasClass('btn-info')) {
                        var url = '/admin/files/classify/check/child/?child=' + value + '&parent=' + parentText;

                        checkNewValue(url, success);

                        function success(data) {
                            if (!data.exit) {
                                window.location.href = '/admin/files/classify/update/child/?oldName=' + window.placeholder + '&newName=' + value + '&parent=' + parentText;
                            } else {
                                alert('分类名称已存在，请重新设置！')
                            }
                        }
                    }
                    // 3.新建小分类
                    else if (window.$target.hasClass('add')) {
                        var url = '/admin/files/classify/check/child/?child=' + value + '&parent=' + parentText;

                        checkNewValue(url, success);

                        function success(data) {
                            if (!data.exit) {
                                window.location.href = '/admin/files/classify/add/child/?child=' + value + '&parent=' + parentText;
                            } else {
                                alert('分类名称已存在，请重新设置！')
                            }
                        }
                    }
                }

                quit();

                // 检查修改后的名称是否可以使用
                function checkNewValue(url, callback) {//url是判断地址
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: callback,
                        error: function () {
                            alert('发送请求失败！')
                        }
                    });
                }
            });

            // 取消
            dialog.find('.btn-default').click(function () {
                quit();
            });

            // 删除【完成】
            $('#delete').click(function () {
                //删除大分类
                if (window.$target.hasClass('btn-lg')) {
                    window.location.href = '/admin/files/classify/remove/parent/' + window.placeholder;
                    return;
                }

                //删除小分类 ?
                var parentText = window.$target.prevAll('dt').text();
                // console.log(parentText);
                window.location.href = '/admin/files/classify/remove/child/?child=' + window.placeholder + '&parent=' + parentText;
            });

            // 编辑项目分类名称(大分类名称)【完成】
            $('dt').click(function () {
                window.$target = $(this);
                window.placeholder = $(this).text();

                $('#delete').show();//防止删除键已经被隐藏
                dialog.fadeIn().find('input').attr('placeholder', window.placeholder);
            });
        })();

        // 新建大分类
        (function () {
            var dialog = $('.class-alert');

            $('.create-class').find('.btn').click(function () {
                dialog.fadeIn();
            });

            // 确定
            dialog.find('.btn-success').click(function () {
                var name = $.trim(dialog.find('.class-name').val());
                // var value = $.trim(dialog.find('.class-itemname').val());
                var data = {};

                if (name.length) {
                    window.location.href = '/admin/files/classify/add/parent/' + name;
                    return;
                }

                alert('分类名称不能为空！');
            });

            // 取消
            dialog.find('.btn-default').click(function () {
                dialog.fadeOut().find('input').val('');
            });
        })();
    })
</script>

</body>

</html>
